# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environment
venv/

# Ignore redundant folders
spare/

Ignore database and SQL files
*.db
*.sql

# Ignore redundant files
.open
asset.kv
Background.py
db_helper_resolve.py
emoji.ttf
figtree.ttf
fixing sql extractor.py
font.ttf
fredoka-one.zip
kivy layout test.py
kivy text fields test.py
Kivy_Asset_place.py
kivy_font_test.py
maths_for_me.db
maths_for_me.sql
Money
Noto_Color_Emoji.zip
OFL.txt
rubik.ttf
tempCodeRunnerFile.python
text_fields_test.kv